@import url(https://fonts.googleapis.com/css?family=Oswald:400, 700);

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    overflow: hidden;
}

.center {
    height: 400px;
    width: 500px;
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 250px);
    text-align: center;
}

h1, p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 16rem;
    color: rgba(0, 0, 0, 0.6);
    -webkit-filter: blur(0.5px);
    filter: blur(0.5px);
}

p {
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.6);
}