<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Kino admin</title>
    {% for style in styles %}
    <link href="{{ url_for('static',filename=style) }}" rel="stylesheet" type="text/css" />
    {% endfor %}
</head>
<body>
    <header>
        <ul>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <a href="{{ admin_index_action }}" class="navbar-brand">Kino admin</a>
                </div>
            </nav>
        </ul>
    </header>
    <div class="container body-content">

        {% block content %}{% endblock content %}
        <footer>
            <div class="d-flex justify-content-between">
                <div>
                    <a href="{{ index_action }}">Wersite</a>
                </div>
                <div>
                    by Viktor Herasymchuk®
                </div>
            </div>
        </footer>
    </div>
</body>
</html>