{% extends general_template_name %}

{% block content %}
{% if user_count > 0%}
<h5>Users</h5>
<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            Username
        </th>
        <th>
            Login
        </th>
        <th></th>
    </tr>
    {% for user in users %}
    <tr>
        <td>
            {{ user.Id }}
        </td>
        <td>
            {{ user.UserName }}
        </td>
        <td>
            {{ user.Login }}
        </td>
        <td>
            <a href="{{ admin_delete_user_action }}/{{ user.Id }}" style="font-size: 14px">
                Delete
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h5>No available users</h5>
{% endif %}
{% endblock content %}
