{% extends general_template_name %}

{% block content %}
<div class="jumbotron">
    <h1>About us</h1>
</div>
<div class="card">
    <div class="card-body">
        <p>Brick warehouses and narrow streets of my home suburb of Collingwood cautiously awakening from the lockdown seems like a perfect modern backdrop to write about Kino – a band from another era and from my other life growing up in 1980s in another industrial suburb in Vladivostok, on Russia’s Pacific coast.</p>
        <p>Kino – a legendary rock band formed in 1982 in Leningrad (now Saint Petersburg) by a charismatic, talented and otherworldly Victor Tsoi – to me and many of my contemporaries growing up in the dying days of the Soviet Union was not just about the music. It was about awakening from stagnant, repressive and dull physical and intellectual surroundings of the 1980s urban Russia. It was about protest without demonstrations (they will come later), freedom from adult and state rules (their tight grip still on our daily lives) and a romantic spirit of friendship, rebellion and belonging. It was about fashion – all Kino members only wore black, and we were on a continuous hunt for black clothes in Vladivostok’s poorly stocked department stores and dusty second-hand shops.</p>
        <blockquote><em>At 14, our heart is beating like a new engine<br>
        We know everything that we need to know<br>
        And we will do anything we want<br>
        Before you have ruined this whole world</em><br>
        <br>
        Kino 'We want to dance', 1985</blockquote>
        <p>But first, music. We didn’t know back then that Kino was heavily influenced by the British new wave and post-punk. To us, it was the sound of the dangerous but enticing streets of Vladivostok’s grey working-class suburbs, while at the same time an escape to my friends’ kitchens – sacred places where news was exchanged, secrets shared and creativity thrived.</p>
        <p>Unlike many bands of the '80s and '90s Russian rock scene, Kino’s sound was minimalist, unpretentious, almost bare, with an overwhelming bass, distinct electric-sounding drums, a deep scarce vocal and simple but mesmerising lyrics about love, wine, loneliness, friendship and the night (I&nbsp;think almost half of Kino's songs have “night” in their title and lyrics). But most importantly, it was&nbsp;music to dance to – ideally at night, wearing black clothes, with your best friends, and after a dash to the local shop for&nbsp;cheap, poisonous yet&nbsp;delicious, Georgian red wine.</p>
        <p>As Kino gained a cult following all over Russia, Tsoi’s lyrics became more political. Despite never making politics a theme of his music, Tsoi made it clear that it was a time for change. And what a change it was. As the Soviet Union was crumbling under its own weight, we were all desperately seeking to understand what was coming to replace it, while clutching to the good, familiar aspects of our lives that was disappearing in front of our eyes.</p>
        
        <img src="https://asiasociety.org/sites/default/files/styles/horizontal_blog/public/2020-06/Kino%202.jpg" class="article-img" style='max-height:auto'>

        <p>As the country was falling apart, Kino’s music and lyrics grew darker. When Tsoi tragically died in a car accident in 1990, many felt it was almost a logical conclusion to many of his songs, and the decade that created them. The country grieved his death like he was a family member, a close friend, a partner. Which he was to many of us. Suddenly wearing black was totally appropriate.</p>
    </div>
</div>
{% endblock content %}
