{{ album.name }}

<div class="row no-gutters">
    <div class="col-md-2 card-img">
        {% if album.ImageUrl != '' %}
        <img src="{{ album.ImageUrl}}" alt="post-image" width="100%" />
        {% endif %}
    </div>
    <div class="col-md-10">
        <div class="card-body">
            <h1 class="card-title">
                <a href="{{ details_album_action }}/{{ album.Id }}">{{ album.Name}}</a>
            </h1>
            <p class="card-text">
                {{ album.Description[:200] }}...
            </p>
            <p class="card-text">
                {% if is_authorized %}
                <a href="{{ update_album_action }}/{{ album.Id }}" style="font-size: 14px">Edit</a>
                <a href="{{ delete_album_action }}/{{ album.Id }}" style="font-size: 14px">Delete</a>
                {% endif %}
            </p>
        </div>
    </div>
</div>