<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>123</title>
    {% for style in styles %}
    <link href="{{ url_for('static',filename=style) }}" rel="stylesheet" type="text/css" />
    {% endfor %}
    {% for script in scripts %}
    <script src="{{ url_for('static',filename=script) }}"></script>
    {% endfor %}
</head>
<body>
    <header>
        {% include "GeneralHeader.html" %}
    </header>
    <div class="container body-content">
        {% block content %}{% endblock content %}
        <footer>
            <div class="d-flex justify-content-between">
                <div>
                    <a href="{{ index_action }}">Wersite</a>
                </div>
                <div>
                    by Viktor Herasymchuk®
                </div>
            </div>
        </footer>
    </div>
</body>
</html>